@model IEnumerable<StockWebApp.Models.Product>

@{
    ViewBag.Title = "Index by Category";
}

<h2>Here are your products organized by Categories:</h2>

@Html.Partial("_IndexBank")
@* Loading partial views is very useful in keeping the code clean and DRY *@