@model IEnumerable<StockWebApp.Models.Product>

@{
    ViewBag.Title = "Index by Expiration";
}

<h2>Here are your products organized by Expiration Dates:</h2>

@Html.Partial("_IndexBank")
@* Loading partial views is very useful in keeping the code clean and DRY *@